<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snowboard</title>

    <link rel="stylesheet" href="../static/CSS/style1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
</head>

<body>

<!--navbar section-->

<header>

<nav class="navbar navbar-expand-lg navbar-dark row fixed-top" style="background-color:black;">
    <a class="navbar-brand font-weight-bold" href="{{url_for('main.index')}}" style="color:white;">
        <img style="max-width: 25px; max-height: 25px;" src="{{url_for('static', filename='img/used in navbar.webp')}}">
        Shred The Gnar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{url_for('main.index')}}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#recommended">Recommended</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#category">Category</a>
        </li>
      </ul>


      <!--cart section-->
      <form class="d-flex pr-lg-2" action="{{ url_for('main.order') }}">
        <button class="btn btn-outline-light" type="submit">
            <i class="bi-cart-fill me-1"></i>
            Cart <i class="fa fa-shopping-cart" style="font-size:15px"></i>
        </button>
    </form>


    <!--search section-->
      <form class="form-inline my-2 my-lg-0" action="{{url_for('main.search')}}">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-info btn btn-black btn-s ml-0 ml-1" type="submit">Search</button>
      </form>
      
      
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-dark text-center font-weight-bold pt-5 mt-3" 
            style="font-size:20px; background-color:#E0FFFF;" role="alert" color="black">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
            </div>
        {% endif %}
        {% endwith %} 

        {% block head %}{% endblock %}


</header>

<div class="container-fluid" style="padding:0px 0px;"> 
  <main>
    {% block main %}{% endblock %}
  </main>
</div>




    <!--Footer-->
    <footer class="bg-light text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          @ 2022 QUT IFN 557:
          <a class="text-dark" href="#">KentoSuzuki.com</a>
        </div>
    </footer>


    
</body>


  







    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
</body>
</html>




